body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box; /*ajuste la taille de la boîte pour une meilleure gestion des dimensions*/
}

header .top-bar {
  /* Définir la barre supérieure avec une couleur de fond blanche, utiliser Flexbox pour aligner les éléments au centre verticalement
     et les espacer uniformément horizontalement, et ajouter une bordure inférieure verte de 6 pixels pour une séparation visuelle nette */
  background-color: white;
  /* padding: 10px 20px; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 6px solid #66cc66;
}

header .top-bar .logo {
  width: 80px;
}

header .top-bar nav ul {
  /* Supprimer les puces de liste par défaut, retirer les marges et les espacements internes,
     et utiliser Flexbox pour aligner les éléments de la liste horizontalement */
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

header .top-bar nav ul li {
  margin-left: 200px;
}

header .top-bar nav ul li a {
  text-decoration: none;
  color: #66cc66;
  font-weight: bold;
  margin-right: 10px;
  border-bottom: 1px solid #66cc66;
  padding-bottom: 5px;
}
header .top-bar nav ul li a:hover {
  background-color:#66cc66;
  color: white;
}
header .banner {
  /* Appliquer une image de fond à l'élément .banner, avec des propriétés pour le positionnement, la répétition et le redimensionnement,
     définir la couleur du texte en blanc, ajouter des espacements internes pour le contenu, centrer le texte, et positionner l'élément relativement
     pour permettre le positionnement absolu d'autres éléments enfants si nécessaire */
  background: url('image-header.jpg') no-repeat center center/cover;
  color: white;
  padding: 60px 20px;
  text-align: center;
  position: relative;
}

header .logo img {
  /* Positionner l'image du logo de manière absolue à 20 pixels du haut et à 20 pixels de la gauche du conteneur parent,
     et définir une largeur fixe de 80 pixels pour l'image */
  position: absolute;
  top: 20px;
  left: 20px;
  width: 80px;
}

header .banner-content {
  /* Limiter la largeur maximale du contenu de la bannière à 600 pixels et centrer horizontalement le contenu dans son conteneur parent */
  max-width: 600px;
  margin: 0 auto;
}

header .banner-content h1 {
  /* Définir la taille de la police pour le titre h1 à 2.5 rem et ajouter une marge inférieure de 20 pixels pour espacer le titre du contenu suivant */
  font-size: 2.5rem;
  margin-bottom: 20px;
}

header .banner-content p {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

header .banner-content button {
  padding: 10px 20px;
  background-color: #fff;
  color: #66cc66;
  border: none;
  font-size: 1rem;
  cursor: pointer;/* Changer le curseur de la souris en pointeur pour indiquer que le bouton est cliquable */
}

.banner-content button:hover {
  background-color: #66cc66;
  color: white;
}

.category a {
  text-decoration: none;
  color: white;
  display: block;
}

.category:hover a {
  color: #ffcc00;
}

main .categories {
  padding: 40px 20px;
  text-align: center;
}

main .categories h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.category img:hover {
  /* agrandissant l'image pour un effet de zoom */
  transform: scale(1.7);
}

main .category-grid {
  /* Afficher les éléments enfants sous forme de flexbox, répartir l'espace entre eux, et permettre le retour à la ligne pour une mise en page réactive */
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

main .category {
  background-color: #66cc66;
  color: white;
  border-radius: 10px;/* Arrondir les coins de l'élément avec un rayon de 10 pixels */
  width: 30%;
  margin-bottom: 20px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);/* Ajouter une ombre portée légère pour donner un effet de profondeur à l'élément */
  text-align: center;
}

main .category img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  object-fit: cover;/* Ajuster l'image pour couvrir entièrement le conteneur tout en préservant ses proportions */
  margin-bottom: 20px;
}

main .category h3 {
  font-size: 1.5rem;
}


#monocotyledones {
  background-color: #D2EACF;
  position: relative;
  display: flex;
  height: 600px;
}

#monocotyledones p {
  position: absolute;
  top: 10%;
}
/*img1*/
.p1 {
  position: absolute;
  height: auto;
  width: 40%;
  top: 40%;
  left: 35%;
}

section {
  padding: 20px;
  background-color: #f4f4f4;
  color: #3C3737;
}

section h2 {
  font-size: 2rem;
  margin-bottom: 10px;
  color: #514C4C;
}

section p {
  width: 475px;
  height: 160px;
}

#dicotyledones {
  background-color: #D9D9D9;
  position: relative;
  display: flex;
  height: 600px;
}

#dicotyledones p {
  position: absolute;
  top: 10%;
}
/*img1*/
 .example img {
  width: 446px;
  height: 354px;
  display: block;/* Afficher l'image comme un bloc, ce qui empêche les marges internes et les espaces indésirables autour de l'image */
  margin: 0 auto;
  border-radius: 10px;
} 
/*img2*/
.ima img {
  width: 442px;
  height: 587px;
  float: right;
  object-fit: cover;/* Ajuster l'image pour couvrir entièrement le conteneur tout en préservant ses proportions */
  border-radius: 10px;
  position: absolute;
  bottom: 10%;
  left: 68%;
  top: 5%;
}

#mauvaises-herbes-vs-adventices h2 {
  text-align: center;
}

.comparison {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.comparison-item {
  width: 45%;
  background-color: #e0ffe0;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.comparison-item h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  text-align: center;
  color: #514C4C;
}

.comparison-item ul {
  list-style: none;
  padding: 0;
  color: #3C3838;
}

.comparison-item ul li {
  padding-left: 30px;
  margin-bottom: 10px;
}

footer {
  background-color: #d6e9d4;
  color: #333;
}

.footer-content {
  display: flex;/* Utilise le modèle de boîte flexible pour organiser les éléments enfants */
  position: relative;
  justify-content: space-between;/* Distribue l'espace entre les éléments enfants, le premier élément au début et le dernier à la fin avec un espace égal entre eux */
  padding: 20px;
}

.left-section, .center-section, .right-section {
  flex: 1;/*Permet aux éléments de s'étendre et de se contracter pour occuper l'espace disponible de manière égale */
  margin: 0 20px;
}

.left-section {
  display: flex;/* Utilise un conteneur flexible pour organiser les éléments enfants en ligne ou en colonne */
  flex-direction: column;/* Dispose les éléments enfants en colonne, les uns sous les autres */
  align-items: center;/* Centre les éléments enfants horizontalement dans le conteneur */
  text-align: center;/* Centre le texte à l'intérieur de cette section */
}

.logo {
  width: 98px;
  height: 97px;
  margin-bottom: 10px;
}

.center-section {
  display: flex;
  position: relative;
}

.center-section h3 {
  position: absolute;
  top: 30%;
  left: 20%;
}

.center-section p {
  position: absolute;
  top: 50%;
  left: 20%;
}

.right-section {
  position: relative;
}

.right-section h3 {
  position: absolute;
  top: 30%;
  left: 20%;
}

.right-section ul {
  list-style: none;
  padding: 0;
  position: absolute;
  top: 50%;
  left: 21%;
}

.right-section ul li {
  margin-bottom: 5px;
}

.right-section ul li a {
  text-decoration: none;
  color: #333;
}

.footer-bottom {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px 0;
  font-size: 14px;
}
.comparison-item img{
  height: 90px;
  width: 20%;
  top: 20%;
  left: 35%;
  border-radius: 10px;
  margin-left: 10%;
  
}
/* Media Queries */

@media (max-width: 1200px) {
  main .category {
      width: 45%;
  }
}

@media (max-width: 768px) {
  header .banner-content h1 {
      font-size: 2rem;
  }

  header .banner-content p {
      font-size: 1rem;
  }

  main .category {
      width: 100%;
  }

  .comparison-item {
      width: 100%;
  }

  .p1, .ima img {
      width: 90%;
      left: 5%;
  }
}

@media (max-width: 768px) {
  header .top-bar {
      flex-direction: column;
      align-items: center;
  }

  header .top-bar nav ul {
    width: 100%;
    justify-content: center;
  }

  header .top-bar nav ul li {
    width: 100%;
    text-align: center;
    margin-left: 0;
    margin-bottom: 10px;
  }

  header .top-bar nav ul li a {
    display: block;
    width: 100%;
    padding: 10px 0;
    border-bottom: 1px solid #66cc66;
  }

  header .banner-content h1 {
      font-size: 1.5rem;
  }

  header .banner-content p {
      font-size: 0.9rem;
  }

  header .banner-content button {
      font-size: 0.9rem;
      padding: 8px 16px;
  }

  .p1, .ima img {
      width: 100%;
      left: 0;
  }

}
